<nav class="navbar navbar-expand-lg navbar-dark navbar-custom ">
  <div class="container-fluid">
    <div class="logo">
      <a class="navbar-brand GPS" href="#">GPS</a>
      <a class="navbar-brand VTS" href="#">Vehicle Tracking System</a>
    </div>


    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>


    <div *ngIf="topMenuActive" class="menu" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a  class="nav-link" [routerLink]="['/home']" >HOME</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/map']" >ABOUT</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/services']" >SERVICES</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/Gallery']">GALLERY</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/contacts']" >CONTACTS</a>
        </li>
      </ul>
    </div>
    <div (click)="auth.logout()"  class="logBtn" *ngIf="topMenuActive && auth.isAuthenticated()">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <button class="btn"><i class="fas fa-lock"></i><span>Dashbord</span></button>
        </li>
      </ul>
    </div>
    <div (click)="auth.login()"  class="logBtn" *ngIf="topMenuActive && !auth.isAuthenticated()">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <button class="btn"><i class="fas fa-lock"></i><span>Login</span></button>
        </li>
      </ul>
    </div>
    <div (click)="auth.logout()"  class="logBtn" *ngIf="topMenuActive && auth.isAuthenticated()">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <button class="btn"><i class="fas fa-lock"></i><span>LogOut</span></button>
        </li>
      </ul>
    </div>

    <div *ngIf="!topMenuActive" class="side_navbar" (click)="toggleSideNavbar()">
      <svg class="logo__icon" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="124px" height="124px" viewBox="0 0 124 124" style="enable-background:new 0 0 124 124;" xml:space="preserve">
        <g>
        <path d="M112,6H12C5.4,6,0,11.4,0,18s5.4,12,12,12h100c6.6,0,12-5.4,12-12S118.6,6,112,6z"/>
        <path d="M112,50H12C5.4,50,0,55.4,0,62c0,6.6,5.4,12,12,12h100c6.6,0,12-5.4,12-12C124,55.4,118.6,50,112,50z"/>
        <path d="M112,94H12c-6.6,0-12,5.4-12,12s5.4,12,12,12h100c6.6,0,12-5.4,12-12S118.6,94,112,94z"/></g>
      </svg>
    </div>
  </div>
</nav>
<div>
  <app-side-navbar [showBar]="sideMenuActive" class="side-bar"  ></app-side-navbar>
</div>

