<div class="container" >
  <div class="form-group">
    <label >User Name:</label>
    <input type="text" disabled class="form-control" value={{this.user.username}} >
  </div>
  <form #f="ngForm" (ngSubmit)="UpdateInfo(f.value)">

      <label >FirstName:</label>
      <input ngModel="" name="firstName" type="text" class="form-control" value={{this.user.firstName}} >
      <label >LastName :</label>
      <input ngModel="" name="lastName" type="text" class="form-control" value={{this.user.lastName}} >
      <div class="alert alert-danger" role="alert" *ngIf="passNotmatch">
      Password Not Match
      </div>
      <div class="alert alert-danger" role="alert" *ngIf="ErrorPaswordLength">
        Use a minimum password length of 8 or more characters
      </div>
      <label >New password :</label>
      <input  ngModel="" name="newPwd" type="password" class="form-control" name="password">
      <label >Re-password :</label>
      <input  ngModel="" name="rePwd" type="password" class="form-control" name="repassword">
      <label >Old password :</label>
      <input  ngModel="" required name="oldPwd" type="password" class="form-control" name="oldpassword">
      <div class="alert alert-success" role="alert" *ngIf="succUpdate">
        Updated successfully!
      </div>
    <button type="submit" [disabled]="!f.valid" class="btn btn-primary">Update Informations</button>
  </form>

  <div class="form-group">
    <label >Your vehicles:</label>
    <select  multiple class="form-control" id="exampleFormControlSelect2">
      <option *ngFor="let v of this.user.allowedCars">{{v}}</option>
    </select>
  </div>
</div>
