<div class="main">
  <div class="fixTop"></div>
  <div class="row">
    <div class="col-sm-10">
      <div class="mapDiv">
        <agm-map [latitude]="latD" [longitude]="lngD" [zoom]="17">
          <agm-polyline [strokeColor]="'#2196f3'" >
            <agm-polyline-point *ngFor="let point of points" [latitude]="point[0]" [longitude]="point[1]" ></agm-polyline-point>
          </agm-polyline>
        </agm-map>
      </div>
    </div>
    <div class="col-sm-2">
      <button class="btn btn-success contorls"(click)="sendMsg()">Track Car</button><br/>
      <button class="btn btn-danger contorls"(click)="clear()">clear</button>
    </div>
  </div>
</div>
