.fixTop{
  height: 70px;
}
.mapDiv{
  margin: 10px;
  background-color: #929292;
}
agm-map {
  height: 700px;

}
.contorls{
  margin-top: 100px;
}

.LiveTrucking{
  margin: 10px;
  padding: 10px;
  box-shadow: 0px 0px 8px 7px #888888;
  margin-bottom: 20px;
}

.historyTrucking{
  margin: 10px;
  padding: 10px;
  box-shadow: 0px 0px 8px 7px #888888;
}

#exampleFormControlSelect2{
  height: 150px;

}
#exampleFormControlSelect1{
  width: 65%;
  margin-right: 2%;
  margin-left: 10px;
}

.fixrow{
  position: relative;
  display: block;
  margin: auto;
  width: fit-content;
  padding: 30px;

}
.addBtn , .delBtn{
  width: 15%;
}
.LiveBtn{
  margin-top: 40px;
  margin-left: 23%;
}
.calendar{
  display: inline-block;
  margin-top: 10px;
  margin-right: 25px;
  border-style: solid;
  border-width: 2px;
  box-shadow: 0px 0px 8px 7px #888888;
  padding: 10px;
}
/*ToggleBtn*/
.ToggleBtn{
  position: relative;
  padding: 15px;

}
.ToggleBtn button{
  display: block;
  width: 45%;
  position: relative;
  margin: auto;
}
