<div class="main">
  <div class="container">
    <div class="row">
    <div class="col-sm-9">
      <div class="mapDiv">
        <agm-map [latitude]="latD" [longitude]="lngD" [zoom]="17">
          <agm-polyline [strokeColor]="'#2196f3'" >
            <agm-polyline-point *ngFor="let point of points" [latitude]="point[0]" [longitude]="point[1]" ></agm-polyline-point>
          </agm-polyline>
        </agm-map>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="form-group ">
        <select id="inputState" class="form-control">
          <option selected>choose a truck:</option>
          <option *ngFor="let truck of trucks">{{truck["carSerialNumber"]}} , {{truck["model"]}} , {{truck["color"]}}</option>
        </select>
      </div>
      <button class="btn btn-success contorls"(click)="sendMsg()">Track Car</button><br/>
      <button class="btn btn-danger contorls"(click)="clear()">clear</button><br>
      <button class="btn btn-dark contorls"(click)="getallTrucks()">getAll</button>
    </div>
  </div>
  </div>
</div>
