<div class="main">
  <div class="containers">
    <div class="row">
    <div class="col-sm-8">
      <div class="mapDiv">
        <agm-map [latitude]="latD" [longitude]="lngD" [zoom]="15">
          <agm-polyline [strokeColor]="'#2196f3'" >
            <agm-polyline-point *ngFor="let point of FetchedInfo" [latitude]="point.lat" [longitude]="point.lang" ></agm-polyline-point>
            <!--<agm-marker [latitude]="latD" [longitude]="lngD" > </agm-marker>-->
            <agm-marker *ngFor="let point of LiveInfoEntity" [latitude]="point.lang" [longitude]="point.lat" [title]="point.carSerialNumber" [draggable]="true" ></agm-marker>
          </agm-polyline>
        </agm-map>
      </div>
    </div>

    <div class="col-sm-4">
      <!--<div class="form-group" >
        <select id="inputState" class="form-control" [(ngModel)]="carID">
          <option selected [value]="''">choose a truck:</option>
          <option  *ngFor="let truck of trucks" [value]="truck['carSerialNumber']" >{{truck["carSerialNumber"]}} , {{truck["model"]}} , {{truck["color"]}}</option>
        </select>
      </div>
      <button class="btn btn-danger contorls" (click)="clearAll()">clear</button>
      <button class="btn btn-danger contorls" (click)="getTruckBySerialNumber()" [disabled]="carID ==''">GetTruck</button>-->
<!--****************************************************************************************-->
      <!--Live-->
<!--****************************************************************************************-->
      <div class="LiveTrucking">
        <div class="form-group">
          <label for="exampleFormControlSelect2">Selected Trucks:</label>
          <select multiple  class="form-control" id="exampleFormControlSelect2" [(ngModel)]="IndexSelected" >
            <option  *ngFor="let truck of LiveTrucks;let i = index" [value]="i" >{{truck["carSerialNumber"]}} , {{truck["model"]}} , {{truck["color"]}}</option>
          </select>
          <label for="exampleFormControlSelect1">Choose a Truck:</label>
          <div class="row fixrow">
            <select class="form-control" id="exampleFormControlSelect1" [(ngModel)]="LiveSelectedTruck">
              <option [value]="-1" selected>-----------</option>
              <option  *ngFor="let truck of trucks;let i = index" [value]="i" >{{truck["carSerialNumber"]}} , {{truck["model"]}} , {{truck["color"]}}</option>
            </select>

            <button type="button" class="btn btn-success addBtn" (click)="pushTruck()">+</button>

            <button type="button" class="btn btn-danger delBtn" (click)="pullTruck()">-</button>

          </div>
          <button [disabled]="inStreaming" type="button" class="btn btn-primary LiveBtn" (click)="repeatConnection()">Start Live Tracking</button>
          <button [disabled]="inStreaming" *ngIf="!inStreaming" type="button" class="btn btn-danger LiveBtn" (click)="clearAll()">Clear</button>
          <button *ngIf="inStreaming" type="button" class="btn btn-danger LiveBtn" (click)="stopStreaming()">Stop</button>
        </div>
      </div>
<!--****************************************************************************************-->
      <!--History-->
<!--****************************************************************************************-->
      <div class="historyTrucking">
        <div class="SelectTruck">
          <label for="exampleFormControlSelect3">Show History:</label>
          <select class="form-control" id="exampleFormControlSelect3" [(ngModel)]="carID">
            <option selected [value]="''">choose a truck:</option>
            <option  *ngFor="let truck of trucksHistory" [value]="truck['carSerialNumber']" >{{truck["carSerialNumber"]}} , {{truck["model"]}} , {{truck["color"]}}</option>
          </select>
        </div>
        <div class="row fixrow">
          <div class="calendar">
            <h5>From:</h5>
            <ngb-datepicker #dp [(ngModel)]="fromDate" (navigate)="date = $event.next"></ngb-datepicker>
            <ngb-timepicker [(ngModel)]="fromTime" [meridian]="frommeridian"></ngb-timepicker>
          </div>

          <div class="calendar">
            <h5>To:</h5>
            <ngb-datepicker #dp [(ngModel)]="toDate" (navigate)="date = $event.next"></ngb-datepicker>
            <ngb-timepicker [(ngModel)]="toTime" [meridian]="tomeridian"></ngb-timepicker>
          </div>
        </div>
        <button [disabled]="inStreaming" type="button" class="btn btn-primary LiveBtn" (click)="getTrackingDataBySerialNumberAndTimeRange()">Start History Tracking</button>
        <button [disabled]="inStreaming" type="button" class="btn btn-danger LiveBtn" (click)="clearAll()">Clear</button>
      </div>
      <p></p>
    </div>
  </div>
  </div>
</div>
