<div class="mainDashboardNavbar">
  <div class="skip">
  </div>
  <div class="container">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" [routerLink]="['/dashboard/map']">main</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" [routerLink]="['/dashboard/profile']">profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" [routerLink]="['/dashboard/vehicules']" *ngIf="this.auth.hasRole('ADMIN')" >Manage Vehicules</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" [routerLink]="['/dashboard/users']" *ngIf="this.auth.hasRole('ADMIN')">Manage Users</a>
      </li>
    </ul>
  </div>
  <router-outlet></router-outlet>
</div>
